<% if @restaurants.any? %>
<% @restaurants.each do |restaurant| %>
<h2> <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <% end %>
  <% else %>
No restaurants yet
<%end%>
<br>
<a href="/restaurants/new"> Add a restaurant </a>
